<!--<p>test</p>-->

<mat-form-field>
    <input matInput class="new-todo" placeholder="Todo name" [(ngModel)]="todo.name" (keyup.enter)="updateTodo()">
</mat-form-field>
<mat-dialog-content>
    <div class="todo-add-task">
        <mat-form-field>
            <input matInput class="new-todo" placeholder="What needs to be done?" [(ngModel)]="newTodoTasks.title"
                   autofocus="" (keyup.enter)="addTodoTask()">
        </mat-form-field>
        <button class="add-btn" mat-raised-button (click)="addTodoTask()">add</button>
    </div>

    <mat-list class="todo-list" *ngIf="todo.todoTasks.length > 0">
        <mat-list-item *ngFor="let todoTask of todo.todoTasks" [class.completed]="todo.complete">
            <div class="todo-list--item">
                <mat-checkbox [(ngModel)]="todoTask.complete">
                    <input matInput class="todo-task" placeholder="Write your task here" [(ngModel)]="todoTask.title">
                </mat-checkbox>
                <button class="destroy" mat-icon-button (click)="removeTodoTask(todoTask.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </mat-list-item>
    </mat-list>

    <footer class="todo-footer" *ngIf="todo.todoTasks.length > 0">
        <span class="todo-count"><strong>{{todo.todoTasks.length}}</strong> {{todo.todoTasks.length == 1 ? 'item' : 'items'}}</span>
    </footer>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Cansel</button>
    <button mat-button [mat-dialog-close]="true" (click)="save()">Save</button>
</mat-dialog-actions>
