.todo-list {
  .todo-list--item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .mat-list-item {
    &.completed {
      .mat-checkbox-label {
        text-decoration: line-through;
      }
    }
  }
}

.todo-add-task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}