.todo-add-section {
  display: block;
  text-align: center;
  margin-bottom: 1rem;
  .todo-footer {
    text-align: right;
  }
}
.todo-header {
  text-align: center ;
}
.todos-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}
.todo-card {
  max-width: 400px;
  min-width: 320px;
  margin: 0 2rem 2rem 0;
  &:last-child {
    margin: 0 0 2rem 0;
  }
}

.todo-footer {
  padding-top: 24px;
  margin-top: 24px;
  border-top: 1px solid grey;
}