<section class="todo-add-section">
  <button
      routerLink="/todos-list/add-todo"
      mat-raised-button
      color="accent"
      mat-icon-button
      >
    <mat-icon>add</mat-icon>
  </button>
  <footer class="todo-footer" *ngIf="todos.length > 0">
    <span class="todo-count">Todo: <strong>{{todos.length}}</strong> {{todos.length == 1 ? 'item' : 'items'}}</span>
  </footer>
</section>
<section class="todos-container" *ngIf="todos.length > 0">
  <mat-card class="todo-card" *ngFor="let todoCard of todos">
    <header class="todo-header">
      <button class="edit" mat-icon-button routerLink="/todo/{{todoCard.id}}/edit-todo">
        <mat-icon>edit</mat-icon>
      </button>
      <button class="destroy" mat-icon-button (click)="removeTodo(todoCard)">
        <mat-icon>delete</mat-icon>
      </button>
      <h1>{{todoCard.name}}</h1>
    </header>
    <mat-list class="todo-list">
      <mat-list-item *ngFor="let todoTask of todoCard.todoTasks" [class.completed]="todoTask.complete">
        <div class="todo-list--item">
          <mat-checkbox [(ngModel)]="todoTask.complete" (change)="updateCheckedTodo(todoCard)">{{todoTask.title}}</mat-checkbox>
        </div>
      </mat-list-item>
    </mat-list>

  </mat-card>

</section>
<router-outlet></router-outlet>