/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-list-item .mat-checkbox-label input {
  margin-left: 8px;
  border-bottom: 1px solid grey;
}
.mat-list-item.completed .mat-checkbox-label{
  text-decoration: line-through;
}